.name-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 12.5%;
}

.title {
    height: 7.5vh;
    font-family: var(--pretendard-font);
    font-weight: var(--Bold);
    font-size: 24px;
    color: white;
}

.title > p {
    padding-top: 6px;
}

.name-container > input {
    text-align: center;
    width: 23.5vw;
    height: 12vh;
    border: 0;
    background-color: transparent;
    outline: none;

    font-family: var(--pretendard-font);
    font-weight: var(--Bold);
    font-size: 20px;
    color: var(--main-color);
}

.name-container > input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

button {
    width: 40px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin: -20px 0 0 400px;
    font-family: var(--pretendard-font);
}