{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tballom_game.css' %}">
{% endblock %}

{% block js %}
    <script>
        const userId = {{ request.session.user_id }};
    </script>
{% endblock %}

{% block jsLink %}
    {% load static %}
    <script src="{% static 'js/tballom_game.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="gameResult">
        <div id="todayResult">
            <p>오늘의 기록</p>
            <div id="swingingResult"></div>
        </div>

        <div id="currentResult"></div>
    </div>
    <div id="result"></div>
    <div class="game-container" style="display: none;">
        <div class="game-imgDiv-container">
            <div class="ball-imgDiv"> <img src="{% static '/tballom/images/T-ballBall.png' %}" /> </div>
            <div class="game-imgDiv"> <img src="{% static '/tballom/images/T-ballStand.png' %}" /> </div>
        </div>
        <div class="bat-imgDiv" style="top: 67%; left: 37%;"> <div class="bat-flyswatter"></div> <img src="{% static '/tballom/images/파리채.png' %}" /> </div>
        {% if user_bat %}
            <div>
                <ul class="contextmenu menu" style="display: none;">
                    {# for문으로 자신이 산 배트 보여지게 #}
                    {% for bats in user_bat %}
                        <li><a>{{ bats.bat.bat_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block user_point %}
    {% if user_point %}
        {{ user_point.user_point }}
    {% else %}
        0
    {% endif %}
{% endblock %}