{% extends 'base.html' %}

{% block title %}Rank{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tballom_rank.css' %}">
{% endblock %}

{% block content %}
    <div id="grid-container">
        <div id="header">
            <p>이름</p>
            |
            <p>점수</p>
            |
            <p>랭킹</p>
        </div>
        <hr>

        <div id="body">
            {% for user_score in user_scores %}
                <div class="list">
                    <p>{{ user_score.name }}</p>
                    <p>{{ user_score.score }}</p>
                    <p>위</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block user_point %}
    {% if user_point %}
        {{ user_point.user_point }}
    {% else %}
        0
    {% endif %}
{% endblock %}