{% extends 'base.html' %}

{% block title %} Main {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tballom_name.css' %}">
{% endblock %}

{% block js %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let pointDiv = document.querySelector('.point');
            pointDiv.style.display = 'none';

            function playBackgroundMusic() {
                let bgMusic = document.getElementById('bgMusic');
                bgMusic.play();

                document.addEventListener('visibilitychange', function() {
                    if (document.visibilityState === 'hidden') {
                        bgMusic.pause();
                    } else {
                        bgMusic.play();
                    }
                });
            }
            window.onload = playBackgroundMusic();

            // 이름 입력 안 하고 nav 클릭할 경우
            let navItems = document.querySelectorAll('.nav-item p');
            navItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    let nameInput = document.getElementById('name-input').value;
                    if (!nameInput) {
                        alert("아이디를 입력하세요");
                        return false;
                    } else {
                        movePage();
                    }
                });
            });

            document.getElementById("name-form").onsubmit = function() {
                var userName = document.getElementById("name-input").value;
                if (!userName) {
                    alert("아이디를 입력하세요");
                    return false;
                }
            };
        });
    </script>
{% endblock %}

{% block content %}
    <audio id="bgMusic" src="{% static 'music/치고 달려라.mp3' %}" loop></audio>
    <form action="" method="post" class="name-container" id="name-form">
        {% csrf_token %}
        <div class="title"> <p>사용할 아이디를 입력해주세요 :></p> </div>
        <input id="name-input" name="user_name" placeholder="아이디 입력" autocomplete="off" />
        <button type="submit">제출</button>
    </form>
{% endblock %}