{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tballom_game.css' %}">
{% endblock %}

{% block js %}
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            let game = document.getElementById('game');
            let rank = document.getElementById('rank');
            let store = document.getElementById('store');
            let logo = document.getElementById("logo");
            let nav = document.querySelector('nav');
            let background = document.getElementById("background");
            let buttonContainer = document.querySelector('.button-container');
            let gameContainer = document.querySelector('.game-container');

            let startButton = document.getElementById('start-button');
            startButton.addEventListener('click', startGame);

            function startGame() {
                buttonContainer.style.display = 'none';
                gameContainer.style.display = 'block';
                background.style.filter = 'brightness(100%)';
                nav.style.filter = 'brightness(100%)';

                game.style.cursor = 'pointer';
                rank.style.cursor = 'pointer';
                store.style.cursor = 'pointer';
                logo.style.cursor = 'pointer';
            }

            background.style.filter = 'brightness(0.5)';
            nav.style.filter = 'brightness(0.5)';
            game.style.cursor = 'default';
            rank.style.cursor = 'default';
            store.style.cursor = 'default';
            logo.style.cursor = 'default';

            // 키보드로 배트 위치 조절
            let batImgDiv = document.querySelector('.bat-imgDiv');
            let angle = 0; // 초기 각도
            let isSwinging = false;

            document.addEventListener('keydown', function(event) {
                if (isSwinging) return;
                const moveNum = 10; // 이동 속도
                const angleNum = 5;
                let top = parseInt(window.getComputedStyle(batImgDiv).getPropertyValue('top'));
                let left = parseInt(window.getComputedStyle(batImgDiv).getPropertyValue('left'));

                switch(event.key) {
                    case 'ArrowUp':
                        top -= moveNum;
                        break;
                    case 'ArrowDown':
                        top += moveNum;
                        break;
                    case 'ArrowLeft':
                        left -= moveNum;
                        break;
                    case 'ArrowRight':
                        left += moveNum;
                        break;
                }
                // 위치 변경
                batImgDiv.style.top = top + 'px';
                batImgDiv.style.left = left + 'px';

                let isShiftPressed = event.shiftKey;
                if (isShiftPressed) {
                    switch(event.key) {
                        case 'ArrowLeft':
                            angle -= angleNum;
                            break;
                        case 'ArrowRight':
                            angle += angleNum;
                            break;
                    }
                    batImgDiv.style.transform = `rotate(${angle}deg)`;
                }

                if (event.key === 'Enter') {
                    swingBat(batImgDiv);
                }

                function swingBat(batImgDiv) {
                    batImgDiv.style.transition = 'transform 0.3s';
                    batImgDiv.style.transform = 'rotate(100deg)';
                    setTimeout(() => {
                        batImgDiv.style.transition = 'transform 0.1s';
                        batImgDiv.style.transform = `rotate(${angle}deg)`;
                        isSwinging = false;

                        // ball-imgDiv와 bat-center의 위치 정보 가져오기
                        let ballImgDiv = document.querySelector('.ball-imgDiv');
                        let batCenter = document.querySelector('.bat-center');

                        let batCenterRect = batCenter.getBoundingClientRect();
                        let ballImgDivRect = ballImgDiv.getBoundingClientRect();

                        let x = Math.trunc(Math.min(ballImgDivRect.right, batCenterRect.right) - Math.max(ballImgDivRect.left, batCenterRect.left));
                        let y = Math.trunc(Math.min(ballImgDivRect.bottom, batCenterRect.bottom) - Math.max(ballImgDivRect.top, batCenterRect.top));

                        console.log(x, y)

                        // 만약 겹치는 부분이 있으면
                        if (x >= 5 && y >= -48) {
                            ballImgDiv.style.transition = 'transform 1s';
                            ballImgDiv.style.transform = 'translateX(1000px) translateY(-500px)'; // 예시로 좌표값 조정
                         }


                        // 3초 후 원래 자리로 돌아오기
                        setTimeout(() => {
                            ballImgDiv.style.transform = 'translateX(0px) translateY(0px)';
                            ballImgDiv.style.transition = 'none';

                            batImgDiv.style.transition = 'none';
                            batImgDiv.style.top = '67%';
                            batImgDiv.style.left = '37%';
                         }, 3000);
                    }, 500);
                }

                gameContainer.addEventListener('click', () => {
                    document.removeEventListener('keydown', handleKeyDown);
                });
            });
        });

    </script>
{% endblock %}

{% block content %}
    <div class="button-container">
        <button id="start-button">게임시작</button>
    </div>
    <div class="game-container" style="display: none;">
        <div class="ball-imgDiv"> <img src="{% static '/tballom/images/T-ballBall.png' %}" /> </div>
        <div class="game-imgDiv-container">
            <div class="game-imgDiv"> <img src="{% static '/tballom/images/T-ballStand.png' %}" /> </div>
        </div>
        <div class="bat-imgDiv" style="top: 67%; left: 37%;"> <div class="bat-center"></div> <img src="{% static '/tballom/images/파리채.png' %}" /> </div>
    </div>
{% endblock %}