{% extends 'base.html' %}

{% block title %} Game {% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tballom_game.css' %}">
{% endblock %}

{% block js %}
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            let game = document.getElementById('game');
            let rank = document.getElementById('rank');
            let store = document.getElementById('store');
            let logo = document.getElementById("logo");
            let nav = document.querySelector('nav');
            let background = document.getElementById("background");
            let buttonContainer = document.querySelector('.button-container');
            let gameContainer = document.querySelector('.game-container');

            let startButton = document.getElementById('start-button');
            startButton.addEventListener('click', startGame);

            function startGame() {
                buttonContainer.style.display = 'none';
                gameContainer.style.display = 'block';
                background.style.filter = 'brightness(100%)';
                nav.style.filter = 'brightness(100%)';

                game.style.cursor = 'pointer';
                rank.style.cursor = 'pointer';
                store.style.cursor = 'pointer';
                logo.style.cursor = 'pointer';
            }

            background.style.filter = 'brightness(0.5)';
            nav.style.filter = 'brightness(0.5)';
            game.style.cursor = 'default';
            rank.style.cursor = 'default';
            store.style.cursor = 'default';
            logo.style.cursor = 'default';

            let batImgDiv = document.querySelector('.bat-imgDiv');
            let angle = 0; // 초기 각도

            // 키보드로 배트 위치 조절
            document.addEventListener('keydown', function(event) {
                const moveNum = 10; // 이동 속도
                const angleNum = 5;
                let top = parseInt(window.getComputedStyle(batImgDiv).getPropertyValue('top'));
                let left = parseInt(window.getComputedStyle(batImgDiv).getPropertyValue('left'));

                switch(event.key) {
                    case 'ArrowUp':
                        top -= moveNum;
                        break;
                    case 'ArrowDown':
                        top += moveNum;
                        break;
                    case 'ArrowLeft':
                        left -= moveNum;
                        break;
                    case 'ArrowRight':
                        left += moveNum;
                        break;
                }

                let isShiftPressed = event.shiftKey;
                if (isShiftPressed) {
                    switch(event.key) {
                        case 'ArrowLeft':
                            angle -= angleNum;
                            break;
                        case 'ArrowRight':
                            angle += angleNum;
                            break;
                    }

                    batImgDiv.style.transform = `rotate(${angle}deg)`;
                }

                // 위치 변경
                batImgDiv.style.top = top + 'px';
                batImgDiv.style.left = left + 'px';
            });
        });

    </script>
{% endblock %}

{% block content %}
    <div class="button-container">
        <button id="start-button">게임시작</button>
    </div>
    <div class="game-container" style="display: none;">
        <div class="ball-imgDiv"> <img src="{% static '/tballom/images/T-ballBall.png' %}" /> </div>
        <div class="game-imgDiv-container">
            <div class="game-imgDiv"> <img src="{% static '/tballom/images/T-ballStand.png' %}" /> </div>
        </div>
        <div class="bat-imgDiv" style="top: 67%; left: 37%;"> <img src="{% static '/tballom/images/파리채.png' %}" /> </div>
    </div>
{% endblock %}